<style>

  .band-card {
    color: rgb(223, 219, 219);
    text-shadow: 1px 1px 2px black;
    width: 40%;
    height: 400px;
    background-size: cover;
  }
  .band-card-header h1 {
    color: rgb(202, 198, 198);
    text-shadow: 1px 1px 2px black;

  }
</style>
<div class="d-flex justify-content-center justify-content-space-evenly">
  <div class="band-card " style="background-image: url({{band.imagePath}});">
    <div class="band-card-header">
    <h1> {{ band.bandname }} </h1>
    </div>
    <div class="card-body image">
      <p>
        Book us!
      </p>
      <p>
        {{ band.email }}
      </p>
      <h3>Set List</h3>
      <ol>
        {{#each band.songs as |song|}}
          <li> "{{ song.title }}" by {{ song.artist }}</li>
        {{/each}}
      </ol>
    </div>
    <div>
      <a href="/bandUpdate/{{bandId}}">update</a>
    </div>
  </div>

</div>
{{!--<script src="band-landing.js"></script>--}}