<div class="justify-content-center justify-content-space-evenly">
  {{#each bands as |band|}}
    <div
      class="browse-card"
      style="background-image: url({{band.imagePath}}); background-position: center;"
    >
      <div class="browse-card-header">
        <!--need a tag for link to band page-->
        <h1> <a href="/band-card/{{ band.id }}"> {{band.bandname}} </a></h1>
      </div>
      <div>
        <p>
          email:
          <a href="mailto:{{band.email}}">{{band.email}}</a>
        </p>
        <p>
          genres:
          {{band.tag.genre1}},
          {{band.tag.genre2}},
          {{band.tag.genre3}}
        </p>
        <p>
          fee: ${{band.tag.fee}}
        </p>
        <p>
          location:
          {{band.tag.location}}
        </p>
        <p>
          travel radius:
          {{band.tag.travelRadius}}
        </p>
        <p>
          set list: {{band.tag.setList}}
        </p>
      </div>
      {{!-- <div>
      <a href="/bandUpdate/{{band.id}}">update</a>
    </div> --}}
    </div>
  {{/each}}
</div>